<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SampleSuiteName">

 <listeners>
		<listener class-name="utilities.Reporting"/>
</listeners>


	<test name="SampleTEstName1">
		
		
		<classes>
			
			<class name="tests.CreateNote"/>  
		
			
			<class name="tests.UpdateNote"/>
			
			<class name="tests.ArchiveNote"/> 
			
			<class name="tests.AddImages"/>
			<class name="tests.AddSketch"/>
			
			<class name="tests.saveNoteAsPDF"/>
			
			
			
		</classes>
	
	</test>
	
	
	

</suite>
